html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-color: #cfd8dc;
}

.btn-primary, .btn-secondary {
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
}

.btn-primary {
    background-color: #3f51b5;
    border-color: #3f51b5;
}

    .btn-primary:hover {
        background-color: #303f9f;
        border-color: #303f9f;
    }

.btn-secondary {
    background-color: #607d8b;
    border-color: #607d8b;
}

    .btn-secondary:hover {
        background-color: #455a64;
        border-color: #455a64;
    }